<div class="parallax-container side-margin">
	<div class="parallax">
    <%= render 'layouts/home_slider' %></div>
</div>
<div class="section white">
	<div class="row container">
			<div class="caption left-align">
				<h3 class="header">Oto nasza historia...</h3>
				<div class="grey-text text-darken-3 lighten-3">
					<p>Za górami, za lasami...</p>

					<p>Żyła sobie uzdolniona kucharka- nasza babcia...</p>

					<p>Przekazała wszystkie tajne receptury naszej mamie, a ona przekazała je nam...</p>

					<p>I tak właśnie w dużym skrócie powstała Ślązaczka! </p>

					
				</div>
		  </div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><%= image_tag "katowice.jpg" %></div>
		<div class="container caption right-align v-align ">
			<h2 class="light white-text text-darken-3">Jesteśmy dumni z naszego regionu!</h2>
			
		</div>
</div>
<div class="section white">
	<div class="row">
		<div class="row">

      <div class="col s4">
				<div class="center promo promo-example">
					<i class="material-icons">flash_on</i>
					<p class="promo-caption">Szybkość</p>
					<p class="light center">Aby nie trzeba było długo czekać...</p>
				</div>
      </div>
      <div class="col s4">
				<div class="center promo promo-example">
          <i class="material-icons">group</i>
          <p class="promo-caption">Najważniejszy jest klient</p>
          <p class="light center"> Aby każdy brzuszek był zadowolony..</p>
        </div>
      </div>
      <div class="col s4">
				<div class="center promo promo-example">
          <i class="material-icons">security</i>
          <p class="promo-caption">Zawsze czysto</p>
          <p class="light center">Aby czuć się komfotowo...</p>
        </div>
      </div>

    </div>

	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><%= image_tag "bytom.jpg" %></div>
		<div class="container caption center-align v-align">
			<h3 class="light white-text text-darken-3">Śląsk jest piękny!</h3>
			
		</div>
</div>
<div class="section white">
	<div class="row container">
		<h4 class="header">Ogłoszenia restauracyjne</h4>
		<p class="grey-text text-darken-3 lighten-3">
			<ul class="collection">
				<li class="collection-item avatar">
					<i class="material-icons circle">folder</i>
					<span class="title">Poniedziałek - Piątek</span>
					<p>14.30 - 16.00 <br>
						 Do zestawu z kluskami dodajemy ciasto dnia.
					</p>
					<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle green">insert_chart</i>
					<span class="title">Sobota - Niedziela</span>
					<p>12.00-16.00<br>
						 Do zamówień powyżej 60zł dodajemy porcję klusek za free.
					</p>
					<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Co jeszcze?</span>
					<p>Dowozimy posiłki. <br>
					 Oferujemy również catering na imprezy okolicznościowe.
					</p>
					<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				</li>
			</ul>
		</p>

	</div>
</div>

