
<div class="flow-text">

  <h3>Zapraszamy na nasze social media!!!</h3>

  <p>Facebook: Ślązaczka Katowice</p>
  
  <p>Instagram: slazaczka.katowice</p>

  <p>Zachęcamy do obserwowania naszych profili. Dlaczego?</p>

  <p>Żeby otrzymywać informacje o naszych promocjach, ciekawych konkursach oraz wydarzeniach.</p>

  <p>Zapraszamy do Ślązaczki!!!<p>

</div>
