<div style="float:left;border-radius:10px" class="slider z-depth-4">
  <ul class="slides">
    <li>
    <%= image_tag "kluski.jpg" %>
      <div class="caption left-align">
        <h1 class="light black-text text-lighten-3"> Kluski</h1>
        <h3 class="light grey-text text-lighten-3">Nie będziesz mógł przestać ich jeść...</h3>
      </div>
    </li>
    <li>
      <%= image_tag "bigos.jpg" %>
      <div class="caption left-align">
        <h1 class="light black-text text-darken-3">Bigos</h1>
        <h3 class="light grey-text text-lighten-3">Najlepszy w całym województwie</h3>
      </div>
    </li>
    <li>
    <%= image_tag "szpajza3.jpg" %>
    <div class="caption left-align">
    <h1 class="light black-text text-darken-3">Szpajza</h1>
        <h3 class="light grey-text text-darken-3">Jej podstawowe smaki to czekoladowy i cytrynowy...</h3>
      
    </div>
  </li>
  <li>
  <%= image_tag "kolocz2.jpg" %>
  <div class="caption left-align">
    <h1 class="light grey-text text-lighten-2">Kołocz</h1>
    <h3 class="light grey-text text-lighten-3">Domowej roboty i zawsze świeży...</h3>
  </div>
</li>
 
  </ul>
</div>
