<div class="row">
  <div class="col s12 m5 l5 flow-text">
    <h3>!!!</h3>

    <p> .</p>

    <p></p>

    <p>Bon apetite!<p>
  </div>

  <div class="col s12 m7 l7">
    <%= render 'layouts/home_slider' %>
  </div>
</div>
